<div class="container">
    
    <div class="alert alert-primary" role="alert" style="margin-top: 30px; margin-bottom: 0px;">
        <h3><h3>Welcome student!</h3></h3>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" style="cursor:pointer" routerLink="/student/profile" routerLinkActive="active" (click)="showProfile()">My Profile</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="cursor:pointer" routerLink="/student/leaves-student" routerLinkActive="active" (click)="showLeaves()">My Leaves</a>
          </li>
        </ul>   
      </div>
  
      <ul class="navbar-nav">
        <a class="nav-link" style="cursor:pointer" *ngIf="!displayFormFlag" (click)="displayForm()">Change my password</a>
        <a class="nav-link" style="cursor:pointer" *ngIf="displayFormFlag" (click)="hideForm()">Don't change password</a>
      </ul>
    </nav>

    <div class="container">
        <div class="row">
          <div class="col">
            <div class="container box">
                <router-outlet></router-outlet>
            </div>
          </div>
          <div class="col box">
            <div class="container">
                <div class="container box success">
                  <p *ngIf="displayMessageFlag">Please note - Your password has changed</p>
                </div>
            
                <form *ngIf="displayFormFlag" [formGroup] = "myForm" (ngSubmit)="changePassword()">
            
                    <div class="form-group row mb-3">
                        <label class="col-sm-2 col-form-label">New password</label>
                        <div class="col-sm-10">
                            <input type="password" formControlName="password" class="form-control">
                            <div *ngIf="myForm.get('password')?.touched">
                                <p *ngIf="myForm.get('password')?.errors" class="text-danger">Please enter new password</p>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary" [disabled]="myForm.status=='INVALID'">Submit</button>
                </form>

                
            
                <!-- <button type="button" class="btn btn-info" *ngIf="!displayFormFlag" (click)="displayForm()">Change my password</button> -->
            </div>
          </div>
        </div>
      </div>




</div>

<!-- 
<form *ngIf="displayFormFlag" [formGroup] = "myForm" (ngSubmit)="changePassword()">
            
    <div class="form-group">
        <label>Enter new password</label>
        <input type="password" formControlName="password" class="form-control">
        <div *ngIf="myForm.get('password')?.touched">
            <p *ngIf="myForm.get('password')?.errors" class="text-danger">Please enter new password</p>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="myForm.status=='INVALID'">Submit</button>
</form> -->

 <!-- <button type="button" class="btn btn-info" (click)="showProfile()">My Profile</button>
    <button type="button" class="btn btn-info" (click)="showLeaves()">My Leaves</button> -->